
.blogpost-img-container {
    padding: 0 50px 40px;
  }
  
  .blogpost-img-container img {
    width: 100%;
  }
  
  .blogpost-main-container {
    padding: 0 50px 40px;
  }
  
  .blogpost-main-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
  }
  
  .blogpost-main-container section h1 {
    font-style: 35px;
  }
  