@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

body{
  font-family: 'Roboto mono', monospace;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}


@media (max-width: 900px) {

  .projects-main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
  }
}

@media (max-width: 600px) {

  .projects-main-container {
    grid-template-columns: 1fr;
  }
}

#root {
  min-width: 320px;
  /* 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center; */
}